html, body {
	height: 100%;
	width: 100%;
	background-color: #f9f9f9;
}

#content {
	max-width: 90%;
	margin: 0 auto;

	#header {
		margin: 3em 0;

		#header-title, #header-subtitle {
			text-align: center;
		}
		#header-title {
			margin-bottom: 0;
		}
		#header-subtitle {
			font-size: 1.2em;
			color: #555555;
		}
	}
}

.card {
	display: inline-block;
	border-radius: 1em;
	background: #ffffff;
	box-shadow:  14px 14px 27px #cecece, 
                 -14px -14px 27px #ffffff;
	min-width: 100px;
	min-height: 100px;

	padding: 1em;
	margin: 1em;
	width: 50%;
	// width: 200px;

	.card-maintext {
		font-size: 1.5em;
	}
	.card-subtext {
		font-size: 1em;
	}
}

footer {
	text-align: center;

	a {
		text-decoration: none;
	}
}