html, body {
	height: 100%;
	width: 100%;
	background-color: #f9f9f9;
}

#content {
	max-width: 90%;
	margin: 0 auto;

	#header {
		margin: 3em 0;

		#header-title, #header-subtitle {
			text-align: center;
		}
		#header-title {
			margin-bottom: 0;
		}
		#header-subtitle {
			font-size: 1.2em;
			color: #555555;
		}
	}
}

.card {
	// display: inline-block;
	border-radius: 1em;
	background: #ffffff;
	box-shadow:  7px 7px 15px #cecece, 
                 -7px -7px 15px #ffffff;
	min-width: 100px;
	min-height: 100px;

	padding: 1em;
	z-index: 100;
	// margin: 1em;
	// width: 50%;
	// width: 200px;

	.card-maintext {
		font-size: 1.5em;
		font-family: 'Avenir Next', Avenir, 'Helvetica Neue', sans;
		font-weight: 600;
		color: #555555;
	}
	.card-subtext {
		font-size: 1em;
	}
}

.card-small {
	width: 10%;
}

#overview {
	#cardboard {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-gap: 1em;
	  	grid-auto-rows: minmax(100px, auto);

	  	.card {
	  		width: auto;
	  	}

	  	#card-dim-n {
	  		grid-column: 7 / 9;
	  		grid-row: 1;
	  	}

	  	#card-dim-d {
	  		grid-column: 9 / 11;
	  		grid-row: 1;
	  	}

	  	#card-dim-k {
	  		grid-column: 11 / 13;
	  		grid-row: 1;
	  	}

	  	#card-settings {
	  		grid-column: 1 / 7;
	  		grid-row: 1 / 7;
	  		background-color: #999999;
	  	}

	  	#card-r2 {
	  		grid-column: 7 / 13;
	  		grid-row: 2 / 7;
	  		height: auto;
	  	}

	  	#card-factors {
	  		grid-column: 1 / 7;
	  		grid-row: 7 / 13;
	  		height: auto;
	  	}

	  	#card-factors-violin {
	  		grid-column: 7 / 13;
	  		grid-row: 7 / 13;
	  		height: auto;
	  	}
	}
}

footer {
	text-align: center;

	a {
		text-decoration: none;
	}
}